/*taustaväri on punainen */
body {
  background-color: blue;
}
/*koska tausta on punainen, otsikot on sinisiä */
h1 {
  color: blue;
  text-align: center;
}
/*fonttikoko kappaleelle on tosi iso, jotta huomataan css:n vaikutus */
p {
  font-family: arial;
  font-size: 40px;
}
